.App {
  text-align: center;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto;
}

body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  background-size: cover;
  overflow: auto;
}

div {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  }


